*{
    font-family: Calibri;
}

#background{
    background-image: url("../images/food.jpeg");
}

/* Style Menu/Nav Bar */

#menu-bar{
    padding:20px;
    background: #f96e5b;
}
#menu-bar a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
#menu-bar a:hover{
    color: #000000; 
}
#right-menu{
    float: right;
    font-weight: bold;
}

/* Style Home Page content */

#home-content{
    color: #ffffff;
    float: right;
    padding-right: 30%;
    padding-top: 10%;
}
#home-here{
    font-size: 40px;
    font-weight: bold;
}

#home-hungry{
    
    font-weight: bold;
    font-size: 80px;
}
#home-serve{
    font-weight: bold;
    font-size: 40px;
}

/* Style Button */

.button-order{
    color: #ffffff;
    padding: 20px;
    border:1px solid #f96e5b;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.button-order:hover{
    border:1px solid #ffffff;
    background-color: #f96e5b;
}

/* Style Order Page content */

.center{
    text-align: center;
}

/* Style Order Table */

table{
    width: auto;
    margin: 0 auto;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-weight: bold;
    padding: 5px;
}
.cart{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
td img{
    height: 150px;
    width: 150px;
}
td p{
    font-weight: normal;
}

#checkout{
    text-align: center;
    color:#000000;
    padding: 20px;
    border:1px solid #000000;
    background: #f96e5b;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
#checkout:hover{
    color: #ffffff;
}
.checkout{
    margin: 30px;
    text-align: center;
}

.wrapper{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

/* Style image container */

.image-container{
    

}
.image-container img{
    width: 50%;
    float: left;
}

/* Style signup Form */

form {
    float: right;

}
.signup-field{
    display: inline block;
}

.signup-field input{
    border: none;
    border-bottom: 1px solid #AAA;;
    padding: 20px;
    text-align: center;
}
.signup-field input:focus{
    border-bottom: 2px solid #f96e5b;
}

.submit{
    margin: 10px;
}
.submit input{
    background-color: #f96e5b;
    padding: 12px;
    text-align: center;
    color: #ffffff;
}

